# pub
.dart_tool/
.packages
build/
pubspec.lock

# api doc
doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

.settings
.project
.classpath
.flutter-plugins-dependencies
flutter_export_environment.sh

# mac
.DS_Store
